.css_id__label { }
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_ap_pat__label { }
.css_ap_pat__line { }
.css_ap_pat__obj { }
.css_ap_mat__label { }
.css_ap_mat__line { }
.css_ap_mat__obj { }
.css_nombres__label { }
.css_nombres__line { }
.css_nombres__obj { }
.css_correo__label { }
.css_correo__line { }
.css_correo__obj { }
.css_anexo__label { }
.css_anexo__line {text-align:left;}
.css_anexo__obj {text-align:left;}
.css_depto__label { }
.css_depto__line { }
.css_depto__obj { }
.css_piso__label { }
.css_piso__line {text-align:left;}
.css_piso__obj {text-align:left;}
.css_estado__label { }
.css_estado__line { }
.css_estado__obj { }
.css_nodo__label { }
.css_nodo__line {text-align:left;}
.css_nodo__obj {text-align:left;}
.css_imagen__label { }
.css_imagen__line { }
.css_imagen__obj { }
