.css_fotos_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_fotos_grid_line {text-align: center;}
.css_anexo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_anexo_grid_line {vertical-align: top;text-align: right;}
.css_ap_pat_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ap_pat_grid_line {vertical-align: top;text-align: right;}
.css_ap_mat_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ap_mat_grid_line {vertical-align: top;text-align: right;}
.css_nombres_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: right;}
.css_correo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: right;}
.css_depto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_depto_grid_line {vertical-align: top;text-align: right;}
.css_piso_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_piso_grid_line {vertical-align: top;text-align: right;}
.css_nodo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_nodo_grid_line {vertical-align: top;text-align: right;}
