.css_ap_pat_label { }
.css_ap_pat_line { }
.css_ap_pat_obj { }
.css_ap_mat_label { }
.css_ap_mat_line { }
.css_ap_mat_obj { }
.css_nombres_label { }
.css_nombres_line { }
.css_nombres_obj { }
.css_depto_label { }
.css_depto_line {text-align:left;}
.css_depto_obj {text-align:left;}
.css_nodo_label { }
.css_nodo_line {text-align:left;}
.css_nodo_obj {text-align:left;}
.css_patente1_label { }
.css_patente1_line { }
.css_patente1_obj { }
.css_patente2_label { }
.css_patente2_line { }
.css_patente2_obj { }
