.css_ap_pat__label { }
.css_ap_pat__line { }
.css_ap_pat__obj { }
.css_ap_mat__label { }
.css_ap_mat__line { }
.css_ap_mat__obj { }
.css_nombres__label { }
.css_nombres__line { }
.css_nombres__obj { }
.css_correo__label { }
.css_correo__line { }
.css_correo__obj { }
.css_anexo__label {text-align:right;}
.css_anexo__line {text-align:right;}
.css_anexo__obj {text-align:left;}
.css_depto__label { }
.css_depto__line { }
.css_depto__obj { }
.css_piso__label {text-align:right;}
.css_piso__line {text-align:right;}
.css_piso__obj {text-align:left;}
.css_nodo__label { }
.css_nodo__line {text-align:left;}
.css_nodo__obj {text-align:left;}
.css_foto__label { }
.css_foto__line { }
.css_foto__obj { }
.css_patente1__label { }
.css_patente1__line { }
.css_patente1__obj { }
.css_patente2__label { }
.css_patente2__line { }
.css_patente2__obj { }
