.css_fecha__label { }
.css_fecha__line { }
.css_fecha__obj { }
.css_ap_pat__label { }
.css_ap_pat__line { }
.css_ap_pat__obj { }
.css_ap_mat__label { }
.css_ap_mat__line { }
.css_ap_mat__obj { }
.css_nombres__label { }
.css_nombres__line { }
.css_nombres__obj { }
.css_correo__label { }
.css_correo__line { }
.css_correo__obj { }
.css_anexo__label {text-align:right;}
.css_anexo__line {text-align:right;}
.css_anexo__obj {text-align:left;}
.css_depto__label { }
.css_depto__line { }
.css_depto__obj { }
.css_mac__label { }
.css_mac__line { }
.css_mac__obj { }
.css_observaciones__label { }
.css_observaciones__line { }
.css_observaciones__obj { }
.css_piso__label {text-align:right;}
.css_piso__line {text-align:right;}
.css_piso__obj {text-align:left;}
.css_modelos__label { }
.css_modelos__line { }
.css_modelos__obj { }
.css_categorias__label { }
.css_categorias__line { }
.css_categorias__obj { }
